modules = ["php-8.2", "nodejs-20", "web"]
run = "node index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 30590959

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "php -S 0.0.0.0:3000 -t public"

[[ports]]
localPort = 3000
externalPort = 80
